.navbar {
  height: 8rem;
  background-color: #fff;
  border-bottom: 2px solid #61a48a;
}
.navbar .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.navbar .wrapper .link {
  color: #c29e5b;
  text-decoration: none;
  font-family: "Brusher", sans-serif;
}
.navbar .wrapper .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-size: 2.5rem;
}
.navbar .wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  gap: 3rem;
}
.navbar .wrapper .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar .wrapper .center .logo {
  height: 11rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .wrapper .right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .wrapper .right .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  color: #c29e5b;
  cursor: pointer;
}
.navbar .wrapper .right .icons .icon {
  font-size: 2.5rem;
}
.navbar .wrapper .right .icons .cartIcon {
  position: relative;
}
.navbar .wrapper .right .icons .cartIcon span {
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #61a48a;
  color: #fff;
  position: absolute;
  right: -1rem;
  top: -1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}