.product {
  border: 2px solid $clr-primary;
  display: grid;
  grid-template-columns: repeat(2, 16rem);
  grid-row-gap: 3rem;
  color: $clr-text;
  position: relative;

  &__discount {
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    &-img {
      height: 9rem;
      transform: rotate(20deg);
    }

    .product__discount {
      position: relative;
    }

    &-txt {
      position: absolute;
      top: 3.2rem;
      left: 2.2rem;
      z-index: 2;
      color: #fff;
      font-size: 2rem;
      opacity: 1;
      animation: textAnimation 6s infinite;
    }
    &-value {
      position: absolute;
      top: 3.2rem;
      left: 3rem;
      z-index: 2;
      color: #fff;
      font-size: 2rem;
      opacity: 0;
      animation: valueAnimation 6s infinite;
    }

    @keyframes textAnimation {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }

    @keyframes valueAnimation {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }

    // &-txt {
    //   z-index: 2;
    //   color: #fff;
    //   margin-top: -3.5rem;
    //   font-size: 1.4rem;
    // }
  }

  &__erase_number {
    text-decoration: line-through;
    text-decoration-color: $clr-favorite;
    text-decoration-style: double;
  }

  &__img {
    width: 99%;
    height: 17rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }

  &__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
    cursor: pointer;
    fill: $clr-light-grey;
    padding: 3px 2px 2px 2px;
    border-radius: 100px;
    background-color: #fff;
  }

  &__like--active {
    fill: $clr-favorite;
  }

  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: inherit;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $clr-primary;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $clr-primary-hover;
    }
  }

  &__icon {
    // color: #fff;
    color: $clr-primary;
    height: 2rem !important;
    width: 2rem !important;
    margin-right: 1rem;
  }

  &__info {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }

  &__info__top {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }

  &__category {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
  }

  .product__btn__cart {
    color: #fff;
  }

  &__btn {
    grid-column: 1 / -1;
    width: 99%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: $clr-secondary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.1rem;
    height: 5rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $clr-secondary-hover;
    }
  }
}
