.featuredProducts {
  grid-column: center-start / center-end;
  justify-content: start;
  margin: 5rem 0rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-gap: 7rem;
}
