.Toastify__toast {
  // width: 50rem;
  &-body {
    font-size: 2rem;
    font-weight: 400;
    font-family: $fnt-kanit;
    width: 10rem;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
