.cart-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      color: $clr-secondary;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.6rem;
    }

    .data {
      font-weight: 300;
    }
  }
}

.info {
  font-size: 1.6rem !important;

  .update-amount--btn:hover {
    color: #4d836e;
    border-color: #4d836e !important;
  }
}
