$clr-primary: #c29e5b;
$clr-primary-hover: #9b7e48;
$clr-secondary: #61a48a;
$clr-secondary-hover: #4d836e;
$clr-favorite: #ba0021;
$clr-text: #36454f;
$clr-light-grey: #c8c8c8;
$clr-discount: #007fff;
$fnt-logo: 'Brusher';
$fnt-nunito: 'Nunito';
$fnt-kanit: 'Kanit';
$fnt-sono: 'Sono';
