.cart {
  width: 90vw;
  margin: 5rem auto 3rem auto;

  .page-title {
    font-family: $fnt-logo !important;
    text-align: center;
  }

  .cart-image {
    width: 15rem;
  }

  .MuiSvgIcon-root {
    font-size: 3rem;
    color: $clr-secondary;
    cursor: pointer;
    transform: all 0.3s;
    &:hover {
      color: $clr-secondary-hover;
    }
  }
  &__sum {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
  }
}
